* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: cornflowerblue;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
.main-content h1 {
	text-align: center;
	padding: 20px;
}
/* .main-content img {
	width: 450px;
} */
.main-content button {
	background: chartreuse;
	font-size: 25px;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid black;
	z-index: 10000;
}
